.search-icon{
    width: 24px;
    height: 24px;
}
.SearchBar{
    display: flex;
    justify-content: center;
    border-radius: 6px;
    align-items: center;
   
}
.Search_container{
    position: relative;
    

}
.SearchBar label{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    border-left: 1px solid #6E8098;
    border-right: 1px solid #6E8098;
    border-top: none;
    border-bottom: none;
}
input{
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    cursor: pointer;

}

label:nth-of-type(3),
label:first-of-type{
    border: none;
}


input{
    border: none;
}  

.Search_FullTime{
    margin-left: 72px;
}

/* input{
    border-left: 1px solid #6E8098;
    border-right: 1px solid #6E8098;
    border-top: none;
    border-bottom: none;
} */

.Search_Type{
    display: flex;
    width: inherit;
    
}
/* CheckBox Styles */

.Search_container input{
 position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #e7e8e9;
    border-radius: 3px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  
  }
  .Search_FullTime{
   
}
  .Search_container:hover input ~ .checkmark {
    background-color: #F4F5FD;
  }

  .Search_container input:checked ~ .checkmark {
    background-color: #5964E0
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .Search_container input:checked ~ .checkmark:after {
    display: block;
  }

  .Search_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    
  }



@media (min-width: 768px) {
    .search-icons{
       margin-left: 16px;
       margin-right: 24px;
    }
    .SearchBar{
        width: 689px;
        height: 80px;
        display: flex;
        /* I will need to git rid of this color */
        background: #FFFFFF;
    }
    .checkmark{
        margin-left: 32px;

    }
    .Search_FullTime{
        margin-left: 60px;
    }
    
  
 }


@media (min-width: 992px) { 
    .search-icons{
        margin-right: 16px;
        margin-left: 32px;
     }
   .SearchBar{
    width: 1110px;
    height: 80px;
   }
   .Search_FullTime{
    margin-left: 72px;
}
   
 }

